* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main main"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #f0f0f0;
    width: 200px;
    padding: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    cursor: pointer;
    margin-bottom: 10px;
    color: black;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: red;
    height: 100vh;
}