* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --border-color: #4CAF50;
}

.login-box {
    width: 400px;
    height: 400px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
  font-family: Arial, sans-serif;
}

.input-box {
  position: relative;
  margin-bottom: 22px;
  border: 2px solid var(--border-color);
  border-radius: 2%;
  opacity: 0.4;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.input-field::placeholder {
  color: black;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}